{
  "pin": "1234",
  "oled_line1": "temp",
  "oled_line2": "voltage",
  "oled_line3": "relay",
  "oled_line4": "text",
  "poll_interval": 3,
  "cron_api_key": "",
  "cron_token": "ganti-otomatis-pas-first-run",
  "public_url": "http://localhost:30221",
  "schedules": []
}
